/* class name start with dot .  */
.heading1 {
  color: red;
}

/* reason to use code
1 organize the code
2 to appply the css
 */

.center {
  text-align: center;
}

/* box model contains
1 border => thiclness,style, color
2 padding => space  inside the border
3 margins => space outise the border

*/

.box {
  border: 5px solid red;
  border-radius: 25px;
  width: 400px;
  padding: 50px;
  margin: 50px auto;
}

/*  50px auto first value top and bottom, second value left and right */
/* why percentage
% is a relative value


*/
.box-image {
  width: 100%;
}

.bg {
  width: 600px;
  background-color: red;
  margin: 50px auto;
  color: wheat;
  padding: 90px 50px;
}

.btn {
  background-color: wheat;
  border: none;
  padding: 16px 13px;
  font-size: 16px;
  border-radius: 8px;
}
