/* Positions 


what are positions
fixed : anyth
sticky

*/

.box {
  width: 500px;
  border: 2px solid gray;
  margin: 50px auto;
  padding: 10px;
}

.box-img {
  width: 100%;
}

/* top bottem ,right and left  => distance from direction*/
/* dif bw stiky and fixed */
.help {
  bottom: 50px;
  right: 50px;
}
